
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  windows-test-job:
    runs-on: windows-latest

    steps:
      - run: echo "Hello"

      - name: Docker
        run: docker

          # docker pull lazypanda07/ubuntu_cxx20:24.04
  #   - name: hostfxr.dll
  #     shell: cmd
  #     run: |
  #         set PATH=C:\Program Files\dotnet\host\fxr\8.0.22\;%PATH%
  #         dir "C:\Program Files\dotnet\host\fxr\8.0.22\"
  #         dir "C:\Program Files\dotnet\host\fxr"
  #         where hostfxr.dll

          
  linux-test-job:
    runs-on: ubuntu-latest
    
    steps:
      - run: echo "Hello"
    # - name: hostfxr
    #   run: sudo find / -name hostfxr.h

    
