
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  windows-test-job:
    runs-on: windows-latest

    steps:
      - run: echo "Hello"

      - name: hostfxr.dll
        shell: cmd
        run: dir "C:\Program Files\dotnet\host\fxr"
            

          
  linux-test-job:
    runs-on: ubuntu-latest
    
    steps:
      - run: echo "Hello"
    # - name: hostfxr
    #   run: sudo find / -name hostfxr.h

    
