
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  test-job:
    runs-on: windows-latest
    
    steps:
    - name: Extend PATH
      run: echo "C:\Program Files\dotnet\host\fxr\8.0.21\" >> $GITHUB_PATH

    - name: hostfxr.dll
      shell: cmd
      run: where hostfxr.dll
