
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  test-job:
    runs-on: windows-latest
    
    steps:
    - name: hostfxr.dll
      run: Get-ChildItem "C:\Program Files\dotnet\host\fxr" -Recurse -Filter hostfxr.dll

