
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  windows-test-job:
    runs-on: windows-latest

    steps:
      - run: echo "Hello"

      - name: hostfxr.dll
        shell: cmd
        run: |
            set PATH=C:\Program Files\dotnet\host\fxr\10.0.2\;%PATH%
            dir "C:\Program Files\dotnet\host\fxr\10.0.2\"
            where hostfxr.dll

          
  linux-test-job:
    runs-on: ubuntu-latest
    
    steps:
      - run: echo "Hello"
    # - name: hostfxr
    #   run: sudo find / -name hostfxr.h

    
