
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  windows-test-job:
    runs-on: windows-latest

    steps:
      - run: echo "Hello"

      - name: Prepare wsl
        run: |
          wsl --install Ubuntu-24.04
          wsl sudo apt update
          wsl sudo apt install -y redis-server
      
      - name: Run Redis
        run: wsl redis-server --port 8080 --requirepass password

  #   - name: hostfxr.dll
  #     shell: cmd
  #     run: |
  #         set PATH=C:\Program Files\dotnet\host\fxr\8.0.22\;%PATH%
  #         dir "C:\Program Files\dotnet\host\fxr\8.0.22\"
  #         dir "C:\Program Files\dotnet\host\fxr"
  #         where hostfxr.dll

          
  linux-test-job:
    runs-on: ubuntu-latest
    
    steps:
      - run: echo "Hello"
    # - name: hostfxr
    #   run: sudo find / -name hostfxr.h

    
