
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: lazypanda07/ubuntu_cxx20:android
    
    steps:
    - run: |
        echo "User: $(whoami)"
        chown -R $(whoami) /opt/flutter
        flutter doctor -v
