
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: lazypanda07/ubuntu_cxx20:android
    
    steps:
    - run: |
        ls -l /opt/
        chmod 666 /opt/flutter
        flutter doctor -v
