
on:
  push:
    branches: [master]
  workflow_dispatch:


jobs:
  windows-test-job:
    runs-on: windows-latest

    steps:
    - name: hostfxr.dll
      shell: cmd
      run: |
          set PATH=C:\Program Files\dotnet\host\fxr\8.0.22\;%PATH%
          dir "C:\Program Files\dotnet\host\fxr\8.0.22\"
          dir "C:\Program Files\dotnet\host\fxr"
          where hostfxr.dll

          
  linux-test-job:
    runs-on: ubuntu-latest
    
    steps:
    - name: hostfxr
      run: sudo find / -name hostfxr.h
